---
import SocialPill from "./SocialPill.astro";
import GitHubIcon from "./icons/GitHub.astro";
import JavaScript from "./icons/JavaScript.astro";
import Preview from "./icons/Preview.astro";

interface Projects {
    title: string;
    description: string;
    link?: string;
    github: string;
    image: string;
    tags: any[];
}

const TAGS = {
    JAVASCRIPT: {
        name: "JavaScript",
        class: "bg-[#f0db4f] text-[#323330]",
        icon: JavaScript,
    },
};

const PROJECTS: Projects[] = [
    {
        title: "Sistema De Ventas",
        description: "loewjs isu sjsdksddss",
        link: "#",
        github: "#",
        image: "/projects/sistema_ventas.webp",
        tags: [TAGS.JAVASCRIPT],
    },
];
---

{
    PROJECTS.map(({ title, description, tags, image, github, link }) => (
        <article>
            <h3 class="text-2xl font-semibol mb-2">{title}</h3>
            <ul class="flex gap-x-2 flex-row mb-2">
                {tags.map((tag) => (
                    <li>
                        <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}>
                            <tag.icon class="size-4" />
                            {tag.name}
                        </span>
                    </li>
                ))}
            </ul>
            <p class="text-lg mb-4 text-pretty">{description}</p>

            <img class="rounded shadow-2xl shadow-white/10" src={image} alt={`Captura de pantalla del proyecto ${title}`} />

            <nav class="flex gap-4 mt-8 flex-wrap mb-2">
                {github && (
                    <SocialPill href={github}>
                        <GitHubIcon class="size-4 md:size-6" />
                        GitHub
                    </SocialPill>
                )}

                {link && (
                    <SocialPill href={link}>
                        <Preview class="size-4 md:size-6" />
                        Preview
                    </SocialPill>
                )}
            </nav>
        </article>
    ))
}
